/* =================== BARRA SUPERIOR ==================== */

.top-bar {
    width: 100%;
    padding: 10px 40px;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 1px 4px rgba(0,0,0,0.1);
}

.left {
    display: flex;
    align-items: center;
}

.logo-icon {
    width: 30px;
    margin-right: 10px;
}

.logo-text {
    font-size: 20px;
    font-weight: bold;
}

.right {
    display: flex;
    align-items: center;
    gap: 20px;
}

.user-info {
    text-align: right;
}

#user-email {
    font-weight: bold;
}

.btn-logout {
    background: white;
    border: 2px solid #bfbfbf;
    padding: 7px 15px;
    border-radius: 8px;
    cursor: pointer;
}

/* ===================== MENÚ TABS ===================== */

.menu-tabs {
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.tab {
    padding: 15px 50px;
    background: #eceffe;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.tab.active {
    background: white;
    border: 2px solid #ccc;
}

/* ===================== BUSCADOR ===================== */

.search-box {
    width: 90%;
    margin: 30px auto;
    background: white;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0,0,0,0.05);
}

.search-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    margin-top: 20px;
}

.field label {
    font-weight: bold;
}

.field input,
.field select {
    width: 100%;
    margin-top: 7px;
    padding: 12px;
    border-radius: 10px;
    border: 1px solid #d4d4d4;
    background: #f6f6f6;
}

.btn-search {
    margin-top: 25px;
    padding: 12px 25px;
    font-size: 16px;
    border-radius: 10px;
    border: none;
    background: #000428;
    color: white;
    cursor: pointer;
}

/* ===================== HABITACIONES ===================== */

.rooms-section {
    width: 90%;
    margin: 20px auto;
}

.rooms-grid {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.room-card {
    width: 30%;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 1px 5px rgba(0,0,0,0.1);
}

.room-card img {
    width: 100%;
    height: 220px;
    object-fit: cover;
}

body {
    background: #f5f7fb;
}
