/* ===================== HABITACIONES ===================== */

.rooms-section {
    width: 90%;
    margin: 30px auto;
}

.rooms-section h3 {
    font-size: 22px;
    margin-bottom: 15px;
}

.rooms-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 25px;
}

.room-card {
    background: white;
    border-radius: 18px;
    overflow: hidden;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    transition: transform .25s, box-shadow .25s;
}

.room-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}

.room-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.room-info {
    padding: 15px 18px;
}

.room-info h4 {
    margin: 5px 0 10px;
    font-size: 18px;
}

.price {
    font-weight: bold;
    margin-bottom: 12px;
}

.btn-reservar {
    width: 100%;
    padding: 10px;
    background: #000428;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 15px;
}

.btn-reservar:hover {
    background: #002a83;
}
